#btn-download{
    position: relative !important;
}

.heigh{
    background-color: #F12B2C !important;
}

.normal{
    background-color: #29CC97 !important;
}
.low{
    background-color: #FEC400 !important;
}