.item {
    width: 15.938rem;
    height: 3.75rem;
    padding: 0rem;
}

.iconbug {
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.938rem;
    width: 3.125rem;
    margin-left: 1.25rem;
    margin-right: 0.938rem;
}

.image-item {
    height: 1.563rem;
    width: 1.563rem; 
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.013rem;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    padding: 1.563rem 0;
    overflow: hidden;
}

.item {
    text-decoration: none;
    color:#A4A6B3;
    display: block;
    
}
.item:hover {
    background-color: #9FA2B4;
    color: #DDE2FF;
    width: 15.938rem;
    height: 3.75;
    padding: 0rem;
}


.item-collapsed {
    width: 3.438rem;
}

.item-collapsed:hover {
    background-color: #9FA2B4;
    color: #DDE2FF;
    width: 3.438rem;
    height: 3.125rem;
    padding: 0rem;
}

.title-collapsed {
    overflow: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.icon-collapsed {
    padding: 0.625rem;
    margin-left: 0.313rem;
    
}